*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.tela_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2e2e2e;
    padding:40px;
} 

.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #3de3e6;
}