.tabela{
    display: flex;
    flex-direction: column;
    border: 5px solid #167d7f ;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}


.cabecalho th{
    color: #3de3e6;
    border: 3px solid #167d7f ;
    align-items: center;
    font-size: 25px;
    white-space: nowrap;
}

.corpo td{
    border: 1px solid #167d7f ;
    padding: 10px;
    color: white;
    font-size: 20px;
    width: fit-content;
}

.detalhes{
    background-color: #167d7f;
    border-radius: 5px;
    color: white;
    width: 130px;
    font-weight: normal;
}

.excluir{
    background-color: rgb(158, 52, 52);
    border-radius: 5px;
    color: white;
    width: 80px;
    font-weight: normal;
}