*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color:#2e2e2e;
}

.cabecalho{

    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cabecalho h3{
    font-size: 30px;
    margin-top: 30px;
    color: white;
}

.icones_operacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}

.fileira1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fileira1 p{
    color: white;
}

.fileira1 span{
    color: #3de3e6;
    font-size: 18px;
}

.fileira2{
    display: flex;
    justify-content: center;
    gap: 30px;
}



img{
    width: 100px;
}

